h3 申请新团队
  small Apply For New Team
.row.content-wrapper(style='border-width:0px;')
    .col-lg-1-1
        .panel.panel-default
           .panel-body
             form(form-wizard="",name='apply.UserList', validate-steps="true", validate-form="UserList", steps="4",novalidate)
              .form-wizard.wizard-horizontal
                // START wizard steps indicator
                ol.row
                  li.col-md-3(ng-class="{'active':wizard.active(1)}")
                    h4 基本信息填写
                    small.text-muted 填写基本的项目信息
                  li.col-md-3(ng-class="{'active':wizard.active(2)}")
                    h4 成员信息填写
                    small.text-muted 须分配好核心成员以及主要负责人
                  li.col-md-3(ng-class="{'active':wizard.active(3)}")
                    h4 入驻材料填写
                    small.text-muted 填写项目简介、团队简介在内的信息
                  li.col-md-3(ng-class="{'active':wizard.active(4)}")
                    h4 提交入驻申请
                    small.text-muted 完成入驻信息填写
                div#step1(ng-show="wizard.active(1)")
                  fieldset
                    legend 
                    .row.small-margin-top
                      .col-md-5.col-md-offset-1
                        .form-group
                          label.large-padding-left 团队名称
                          .controls
                            input.form-control.one-border-input.form-control(type='text', ng-model='apply.pj.team_name', data-parsley-group="step1", placeholder='项目简介', required)
                      .col-md-5
                        .form-group
                          label.large-padding-left 项目经营范围
                          .controls
                            input.form-control.one-border-input.form-control(type='text', ng-model='apply.pj.operate_range', data-parsley-group="step1", placeholder='项目经营范围', required)
                    .row.small-margin-top
                      .col-md-5.col-md-offset-1
                        .form-group
                          label.large-padding-left 项目负责人
                          .controls
                            input.form-control.one-border-input.form-control(type='text', ng-model='apply.pj.manager_name', data-parsley-group="step1", placeholder='项目负责人', required)
                      .col-md-5
                        .form-group
                          label.large-padding-left 指导老师
                          .controls
                            input.form-control.one-border-input.form-control(type='text', ng-model='apply.pj.guide_teacher', data-parsley-group="step1", placeholder='指导老师', required)
                    .row.small-margin-top
                      .col-md-5.col-md-offset-1
                        .form-group
                          label.large-padding-left 负责人院系、班级
                          .controls
                            input.form-control.one-border-input.form-control(type='text', ng-model='apply.pj.class_name', data-parsley-group="step1", placeholder='负责人院系、班级', required)
                      .col-md-5
                        .form-group
                          label.large-padding-left 负责人联系电话
                          .controls
                            input.form-control.one-border-input.form-control(type='text', ng-model='apply.pj.phone', data-parsley-group="step1", placeholder='负责人联系电话', required)
                  ul.pager
                    li.next
                      a(ng-click="wizard.go(2)")
                        | 下一步
                div#step2(ng-show="wizard.active(2)")
                  fieldset()
                    .container-fluid
                      legend
                      .row.row-table(style='margin-bottom:15px;')
                        .col-md-2.col-sm-3.col-xs-6.text-center.pv(ng-repeat='menber in apply.pj.user_lists' ng-click='apply.editMenber(menber)' ng-class="{'br':apply.pj.user_lists.length>1&&!$last}")
                          .h3
                            | {{menber.name?menber.name:'新成员'}}
                          div
                            | 核心成员
                      table.table.table-bordered.bg-white
                        tr(style='font-weight: bold')
                          td(style='width:20%') 姓名
                          td(style='width:20%') 性别
                          td(style='width:20%') 学院
                          td(style='width:20%') 专业
                          td(style='width:20%') 年级
                        tr
                          td
                            input.form-control(type="text" ng-class="{'submited':apply.submited}" ng-model='apply.defaultTeamMenber.name' data-parsley-group="step2", placeholder='姓名', required)
                          td
                            select.form-control(ng-model='apply.defaultTeamMenber.is_male' data-parsley-group="step2",required)
                              option(value='{{::key}}' ng-repeat='(key,value) in apply.SEX'){{::value}}
                            //- input.form-control(type="text" data-parsley-group="step2", placeholder='性别', required)
                          td
                            select.form-control(name='college', required="",ng-options="g.school_id as g.school_name for g in apply.colleges",ng-change="apply.loadMajors(apply.school_id)", ng-model="apply.defaultTeamMenber.school_id",data-parsley-group="step2", placeholder='学院')
                          td
                            select.form-control(name='major', required="",ng-options='g.major_id as g.major_name for g in apply.majors', ng-model="apply.defaultTeamMenber.major_id",data-parsley-group="step2", placeholder='专业')
                          td
                            input.form-control(type="text" ng-class="{'submited':apply.submited}" ng-model='apply.defaultTeamMenber.grade' data-parsley-group="step2",ng-pattern='/^[2][0-9]{3}$/' placeholder='年级/例:2013', required)
                      table.table.table-bordered.bg-white
                        tr(style='font-weight: bold')
                          td(style='border-top: 0;width:20%') 出生日期
                          td(style='border-top: 0;width:20%') 身份证件类型
                          td(style='border-top: 0;width:20%') 身份证件号码
                          td(style='border-top: 0;width:20%') 学号
                          td(style='border-top: 0;width:20%') 邮箱
                        tr
                          td
                            .input-group
                              input.form-control(type='text',ng-class="{'submited':apply.submited}",disabled,datepicker-popup='{{apply.format}}' ng-model='apply.defaultTeamMenber.datetime', is-open='apply.dateopened', max-date="'2017-06-22'", datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close')
                              span.input-group-btn
                                button.btn.btn-default(type='button', ng-click='apply.dateopen($event)')
                                  em.icon-calendar.table-responsive.b0
                          td
                            select.form-control(ng-model='apply.defaultTeamMenber.id_type' data-parsley-group="step2",required)
                              option(value='{{::idcardtype}}' ng-repeat='idcardtype in apply.IDCARDTYPE'){{::idcardtype}}
                          td
                            input.form-control(type="text" ng-class="{'submited':apply.submited}" ng-model='apply.defaultTeamMenber.id_number' data-parsley-group="step2",ng-pattern='/(^[0-9]{15}$)|(^[0-9]{17}([0-9]|X)$)/', placeholder='身份证件号码', required)
                          td
                            input.form-control(type="text" ng-class="{'submited':apply.submited}" ng-model='apply.defaultTeamMenber.sid' data-parsley-group="step2",ng-pattern='/^[0-9]{10}$/', placeholder='学号', required)
                          td
                            input.form-control(type="text" ng-class="{'submited':apply.submited}" ng-model='apply.defaultTeamMenber.email' data-parsley-group="step2",ng-pattern='/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/', placeholder='邮箱', required)
                      table.table.table-bordered.bg-white
                        tr
                          td(style='border-top: 0;width:20%') 手机号码
                          td(style='border-top: 0;width:20%') 政治面貌
                          td(style='border-top: 0;width:20%') 民族
                          td(style='border-top: 0;width:20%') 文化程度
                          td(style='border-top: 0;width:20%') 国籍
                        tr
                          td
                            input.form-control(type="text" ng-class="{'submited':apply.submited}" ng-model='apply.defaultTeamMenber.mobile' data-parsley-group="step2",ng-pattern="/^[1][0-9]{10}$/", placeholder='手机号码', required)
                          td
                            select.form-control(ng-model='apply.defaultTeamMenber.political_face' data-parsley-group="step2",required)
                              option(value='{{::role}}' ng-repeat='role in apply.ROLE'){{::role}}
                          td
                            select.form-control(ng-model='apply.defaultTeamMenber.nationality' data-parsley-group="step2",required)
                              option(value='{{::nation}}' ng-repeat='nation in apply.NATIONS'){{::nation}}
                          td
                            select.form-control(ng-model='apply.defaultTeamMenber.education_degree' data-parsley-group="step2",required)
                              option(value='{{::iq}}' ng-repeat='iq in apply.IQ'){{::iq}}
                          td
                            ui-select(ng-model='apply.defaultTeamMenber.citizenship', theme='bootstrap',data-parsley-group="step2",required)
                              ui-select-match(placeholder='选择国籍或输入关键词搜索') {{$select.selected}}
                              ui-select-choices(repeat='county in apply.COUNTYS | singleFilter: $select.search')
                                div(ng-bind='::county | highlight: $select.search')                              
                      table.table.table-bordered.bg-white
                        tr(style='font-weight: bold')
                          td(style='border-top: 0;width:20%') 户口性质
                          td(style='border-top: 0;width:40%') 户籍地址（所属行政区划）
                          td(style='border-top: 0;width:40%') 户籍地址（详细地址）
                        tr
                          td
                            ui-select(ng-model='apply.defaultTeamMenber.characters' theme='bootstrap',data-parsley-group="step2",required)
                              ui-select-match(placeholder='户口性质或输入关键词') {{$select.selected}}
                              ui-select-choices(repeat='home in apply.HOMETYPE | singleFilter: $select.search')
                                div(ng-bind='::home | highlight: $select.search')
                          td
                            ui-select(ng-model='apply.defaultTeamMenber.address' theme='bootstrap', reset-search-input='false',required)
                             ui-select-match(placeholder='请输入区号搜索') {{$select.selected}}
                             ui-select-choices(repeat='address in apply.addresses track by $index', refresh='apply.refreshAddresses($select.search)', refresh-delay='1000')
                               div(ng-bind-html='address | highlight: $select.search')
                          td
                            input.form-control(type="text" ng-class="{'submited':apply.submited}" ng-model='apply.defaultTeamMenber.address_detail' data-parsley-group="step2", placeholder='详细地址', required)
                  .btn-form
                    button.btn.btn-default.pull-right(type='button', ng-disabled='tableform.$waiting', ng-click='apply.addMenber()') 添加新成员
                    button.btn.btn-info(type='button', ng-disabled='tableform.$waiting', ng-click='apply.SaveUserList()') 保存
                    button.btn.btn-danger(type='button', ng-disabled='apply.pj.user_lists.length<2', ng-click='apply.delectMenber()') 删除
                  ul.pager
                    li.previous
                      a(ng-click="wizard.go(1)")
                        | 上一步
                    li.next
                      a(ng-click="wizard.go(3)")
                        | 下一步
                div#step3(ng-show="wizard.active(3)")
                  fieldset
                    hr 
                    .row
                      .col-md-2.text-center
                         label 创业项目简介
                      .col-md-10
                        .container-fluid
                         ueditor(config="apply.editorConfig" ng-model="apply.pj.project_desc")
                    hr 
                    .row
                      .col-md-2.text-center
                         label 创业团队简介
                      .col-md-10
                        .container-fluid
                         ueditor(config="apply.editorConfig" ng-model="apply.pj.team_desc")
                    hr
                    .row
                      .col-md-2.text-center
                         label 申请理由(包括经费使用计划及效绩目标)
                      .col-md-10
                        .container-fluid
                         ueditor(config="apply.editorConfig" ng-model="apply.pj.apply_reason")
                  ul.pager
                    li.previous
                      a(ng-click="wizard.go(2)")
                        | 上一步
                    li.next
                      a.disabled(ng-if="!(apply.pj.project_desc&&apply.pj.team_desc&&apply.pj.apply_reason)")
                        | 下一步
                      a(ng-click="wizard.go(4)" ng-if="apply.pj.project_desc&&apply.pj.team_desc&&apply.pj.apply_reason")
                        | 下一步
                div#step4(ng-show="wizard.active(4)")
                 fieldset
                  .jumbotron
                    h2 确认是否填写完成？
                    p  提交后请耐心等待管理员审核，审核结果将会通过短信通知
                    p(ng-if='apply.UserList.$valid&&!apply.applysubmited')
                      a.btn.btn-info.btn-lg(ng-click='apply.submitApply()') 提交申请
                    p(ng-if='apply.UserList.$invalid&&apply.applysubmited').text-success 提交完成
                   ul.pager
                      li.previous(ng-if='!apply.applysubmited')
                        a(ng-click="wizard.go(3)")
                          | 上一步
script(type="text/ng-template", id="alert")
  .ngdialog-message.clearfix
      h3.text-center(ng-bind-html="header")
      p.text-center  
        | {{authMsg}}
//- countySelector
script(type="text/ng-template", id="countySelector")
  .ngdialog-message.clearfix
      h3.text-center 选择国籍
      small.text-center 从下拉框选择或者输入关键词搜索
      ui-select(ng-model='selected', theme='bootstrap')
        ui-select-match(placeholder='选择国籍或输入关键词') {{$select.selected}}
        ui-select-choices(repeat='county in COUNTYS | propsFilter:  $select.search')
          div(ng-bind-html='county | highlight: $select.search')  
  button.btn.btn-primary.center-block(type='button', ng-click="confirm('Save')") 保存                                            