h3 活动管理
  small Edit in Activity
.container-fluid(ng-controller="BaseActivityController as active")

  .row.content-wrapper(style='border-width:0px;')
      iframe(ng-src='{{active.exportUrl}}' style='display:none;')
      p.lead 历史活动列表
      .panel
        .table-responsive
          table.table.table-hover
            thead
              tr
                th
                  strong 活动 ID
                th
                  strong 时间
                th
                  strong 标题
                th
                  strong 内容
                th
                  strong 操作
            tbody
              tr(ng-repeat="activity in active.activities")
                td {{activity.notice_id}}
                td {{activity.add_time| NowTime }}
                td {{activity.title | limitTo:10}}
                td {{activity.content | removeTag |limitTo:50}}
                td
                  button(type="button" ng-click="active.downloadExcel(activity.notice_id)").btn.btn-sm.btn-default
                    span 报名导出
                  button(type="button" title='删除' ng-click="active.delecteActivity($index,activity)").btn.btn-sm.btn-danger
                    em.icon-trash
        p.text-center.small-margin-top(ng-show='!active.activities||active.activities.length<1')
            |暂无任何数据
      // activeicle Content
      .col-lg-1-1
        .panel.panel-default
          .panel-body
            form.form-validate.form-horizontal(name="active.formValidate", ng-submit="active.addActivity(active.activity)", novalidate="")
              input.mb-lg.form-control.input-lg(type="text", name="title",required="",ng-maxlength='20',ng-model='active.activity.title', placeholder="标题")
              span.text-danger(ng-show="active.validateInput('title', 'required')") 请填写内容
              span.text-danger(ng-show="form.validateInput('length', 'maxlength')") 字数不能超过20
              // Wysiswyg editor
              ueditor(config="active.editorConfig" ng-model="active.activity.content" required="")
              br
              .pull-right
                  button.btn.btn-primary.m-r-10.m-t-10(type="submit")
                    em.fa.icon-paper-plane.fa-fw
                    | 发布
      //- template
      script(type="text/ng-template", id="confirm")
        .ngdialog-message.clearfix
          h3.text-center
            | 确定删除该活动?
          
          button.btn.btn-primary.mr.pull-right(type='button', ng-click='confirm()') 确定
          button.btn.btn-default.pull-left(type='button', ng-click="closeThisDialog()") 取消