h3 团队补贴
  small Team Expense Calendar
iframe(ng-src='{{table.exportUrl}}' style='display:none;')
.container-fluid
  form.form-inline(role='form' ng-submit="table.exportExcel()")
        .row.panel-heading.form-horizontal
          .form-group.pull-right.col-sm-2.list-inline.panel-heading
            button.pull-right.btn.btn-info(type='submit') 导出Excel
          .form-group.pull-right.list-inline.panel-heading
            .input-group
              input.form-control(type='text',ng-change='table.checkChange()', datepicker-popup='{{table.format}}', ng-model='table.endtime', is-open='table.endopened', datepicker-options='dateOptions',datepicker-mode='enddatemode.mode', ng-required='true')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='table.endopen($event)')
                  em.icon-calendar
          .form-group.pull-right.list-inline.panel-heading
             label.col-sm-4.control-label 至
          .form-group.pull-right.list-inline.panel-heading
            .input-group
              input.form-control(type='text',ng-change='table.checkChange()',datepicker-popup='{{table.format}}', ng-model='table.starttime', is-open='table.startopened', datepicker-options='dateOptions', datepicker-mode='startdatemode.mode',  ng-required='true')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='table.startopen($event)')
                  em.icon-calendar.table-responsive.b0
table.table.table-hover(datatable='ng' dt-options="table.dtOptions" dt-column-defs="table.dtColumnDefs")
    thead.bg-white
      tr
        th(style='width:80px')
          strong ID
        th
          strong 时间
        th
          strong 一级类型
        th
          strong 二级类型
        th
          strong 数量
        th
          strong 支出描述
        th
          strong 总支出(元)
    tbody
      tr(ng-repeat='record in table.records')
        td {{::record.payment_id}}
        td {{::record.add_time|NowTime}}
        td {{::record.layout_one_name}}
        td {{::record.layout_two_name}}
        td {{::record.count}}
        td {{::record.reason}}
        td {{::record.amount}}
      